<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{global.site_name}}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="{{{global.img_favicon}}}=s32-c" type="image/png" />
	
	<!-- CSS -->
	<link rel="stylesheet" href="{{{cdn}}}/dist/css/style.min.css">
	<link rel="stylesheet" href="{{{cdn}}}/css/font-awesome.min.css">

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
</head>