<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6 col-sm-3">
                <a href="#" class="logo">
                    <img src="{{{global.img_logo_nav}}}" alt="">
                </a>
            </div>
            <div class="col-md-9 col-xs-9 col-sm-9">
                <div class="menu">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="#hero_section" class="scroll-btn">Home</a></li>
                                    <li><a href="#section1" class="scroll-btn">Service</a></li>
                                    <li><a href="#section2" class="scroll-btn">Feature</a></li>
                                    <li><a href="#section3" class="scroll-btn">Utility</a></li>
                                    <li><a href="#register" class="scroll-btn">Register</a></li>
                                </ul>
                            
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>