<!DOCTYPE html>
<html lang='en'>
{{>head}}
<body>
	<div id="vertex-container">
		{{>header}}
	
		<section id="hero_section" class="banner wow fadeInUp">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="block">
							<img class="app-img img-responsive" src="{{{page.hero_section.img_hero}}}" alt="">
						</div>
					</div>
					<div class="col-md-6 col-md-offset-1 col-sm-6">
						<div class="block">
							<h1>{{page.hero_section.title}}</h1>
							<p>{{page.hero_section.subtitle}}</p>
							<ul class="download-btn">
								<li><a href="#register" class="scroll-btn btn btn-default btn-apple" style="background: {{page.hero_section.btn_color}};">{{page.hero_section.btn_text}}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		{{#page.section1.show_or_hide}}
		<section id="section1" class="service">
			<div class="container">
				<div class="service-wrapper">
					<div class="row">
						<div class="col-md-4 col-sm-12">
							<div class="block wow fadeInRight" data-wow-delay="1s">
								<div class="icon">
									<img src="{{{page.section1.lists.list1.img_list}}}"/>
								</div>
								<h3>{{page.section1.lists.list1.title}}</h3>
								<p>{{page.section1.lists.list1.description}}</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-12">
							<div class="block wow fadeInRight" data-wow-delay="1.3s">
								<div class="icon">
									<img src="{{{page.section1.lists.list2.img_list}}}"/>
								</div>
								<h3>{{page.section1.lists.list2.title}}</h3>
								<p>{{page.section1.lists.list2.description}}</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-12">
							<div class="block wow fadeInRight" data-wow-delay="1.6s">
								<div class="icon">
									<img src="{{{page.section1.lists.list3.img_list}}}"/>
								</div>
								<h3>{{page.section1.lists.list3.title}}</h3>
								<p>{{page.section1.lists.list3.description}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		{{/page.section1.show_or_hide}}

		{{#page.section2.show_or_hide}}
		<section id="section2" class="feature">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay=".8s">
						<h2 class="title">{{page.section2.title}}</h2>
						<div class="feature-item">
							<div class="media">
								<div class="pull-left icon" href="#">
									<img src="{{{page.section2.lists.list1.img_list}}}"/>
								</div>
								<div class="media-body">
									<h4 class="media-heading">{{page.section2.lists.list1.title}}</h4>
									<p>{{page.section2.lists.list1.description}}</p>
								</div>
							</div>
						</div>
						<div class="feature-item">
							<div class="media">
								<div class="pull-left icon" href="#">
									<img src="{{{page.section2.lists.list2.img_list}}}"/>
								</div>
								<div class="media-body">
									<h4 class="media-heading">{{page.section2.lists.list2.title}}</h4>
									<p>{{page.section2.lists.list2.description}}</p>
								</div>
							</div>
						</div>
						<div class="feature-item">
							<div class="media">
								<div class="pull-left icon" href="#">
									<img src="{{{page.section2.lists.list3.img_list}}}"/>
								</div>
								<div class="media-body">
									<h4 class="media-heading">{{page.section2.lists.list3.title}}</h4>
									<p>{{page.section2.lists.list3.description}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay=".8s">
						<div class="block">
							<img class="img-responsive" src="{{{page.section2.img_section}}}" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		{{/page.section2.show_or_hide}}

		{{#page.section3.show_or_hide}}
		<section id="section3" class="utility">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 wow fadeInUp left-part" data-wow-delay=".8s">
						<img class="img-responsive" src="{{{page.section3.img_section}}}" alt="">
					</div>
					<div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay=".8s">
						<div class="block">
							<h2>{{page.section3.title}}</h2>
							<p>{{page.section3.description}}</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		{{/page.section3.show_or_hide}}

		{{#page.section4.show_or_hide}}
		<section id="section4" class="utility-2">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay=".8s">
						<div class="block">
							<h2>{{page.section4.title}}</h2>
							<p>{{page.section4.description}}</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 wow fadeInRight right-part" data-wow-delay=".8s">
						<img class="img-responsive" src="{{{page.section4.img_section}}}" alt="">
					</div>
				</div>
			</div>
		</section>
		{{/page.section4.show_or_hide}}

		<section id="register" >
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow fadeInDown" data-wow-delay=".8s">
						<div class="block">
							<div class="title text-center">
								<h2>{{global.register.title}}</h2>
								<p>{{global.register.subtitle}}</p>
							</div>

							<form id="edd_register_form" class="form-inline text-center col-sm-12 col-xs-12" action="" method="post">
								<input type="text" name="firstname" id="edd-user-firstName" class="form-control" placeholder="First Name">
								<input type="text" name="lastname" id="edd-user-lastName" class="form-control" placeholder="Last Name">
								<input type="text" name="email" id="edd-user-email" class="form-control" placeholder="Email">
								<button id="btn-register" class="btn btn-default" style="background: {{global.register.button_color}};">{{global.register.button_text}}</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		{{>footer}}
	</div>

	<script>
        window.__PRELOADED__ = {{{preloaded}}}
    </script>

	<!-- Vertex library for enabling site updates from https://www.vertex360.co -->
    <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/vertex.min.js"></script>

    {{>scripts}}
</body>
</html>